html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  color: var(--black);
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', serif;
  margin: 0;
}

p,
a,
input,
button,
footer,
textarea,
input::placeholder {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
}

a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: var(--borderRadius);
}

.today {
  font-weight: bold;
  background-color: var(--secondary);
  padding: 8px 18px;
  color: var(--white);
  border-radius: 10px;
  width: fit-content;
}

.new-button {
  padding: 8px 18px;
  background-color: var(--secondary);
  font-weight: 600;
  white-space: nowrap;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  border: none;
}

.button {
  width: 132px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  color: var(--black);
  padding: 12pt 18pt;
  border-radius: var(--borderRadius);
  border-style: solid;
  border-width: 3px;
  border-color: var(--black);
  background-color: var(--primary);
  text-align: center;
  font-weight: 600;
  transition: 0.2s;
  font-size: 18px;
}

.button:hover {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(53, 53, 53, 0.3);
  box-shadow: 0px 0px 15px 1px rgba(53, 53, 53, 0.3);
  cursor: pointer;
}

hr {
  border: none;
  border-top: 2px solid var(--secondary);
  border-radius: 7px 7px 7px 7px;
  opacity: 0.25;
  margin: 12px 0;
}

.muted {
  color: var(--secondary);
  font-size: 12px;
  text-align: center;
  margin: 0;
}

/* Target all Font Awesome icons */
.fa,
.fas,
.far,
.fab,
.fal {
  color: var(--black);
}
