/* Tablet */
@media only screen and (max-width: 1240px) {
  #container {
    align-items: center;
  }

  #OpeningHours {
    flex-direction: column;
    gap: 0;
  }

  .products {
    width: 90vw;
    gap: 58px;
  }

  #footer {
    flex-direction: column;
    gap: 38px;
  }

  #footer h1 {
    font-size: 36px;
  }

  #map {
    width: 100%;
  }

  .contactAndOpeningHours {
    justify-content: center;
    gap: 100px;
    width: 100%;
  }

  .social {
    height: 36px;
  }

  .grid-container {
    grid-template-areas:
      'intro intro intro intro intro intro'
      'slideshow slideshow slideshow slideshow openingHours openingHours';
    grid-auto-columns: minmax(0, 1fr);
  }

  .splide {
    margin-left: 0;
  }

  .splide__list {
    width: 100%;
  }

  .intro {
    gap: 32px;
  }

  .workContainerImage {
    height: fit-content;
  }
}

/* Phone */
@media only screen and (max-width: 720px) {
  #container {
    justify-content: center;
    align-items: center;
    gap: 58px;
  }

  .products {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .product {
    width: 100%;
  }

  .splitScreen {
    flex-direction: column;
  }

  .contactAndOpeningHours {
    flex-direction: column;
    align-items: center;
  }

  .intro {
    gap: 12px;
    width: 100%;
    height: auto;
  }

  .workContainer {
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  .workContainer img {
    max-width: 100%;
  }

  #skincareLogo {
    height: 100px;
  }

  #map {
    height: 336px;
  }

  .grid-container {
    grid-template-areas:
      'intro'
      'slideshow'
      'openingHours';
    gap: 48px;
  }

  .workContainer:nth-child(2) {
    flex-direction: column;
  }

  #logo {
    margin-bottom: 0;
  }
}
