:root {
  --primary: #adad96;
  --secondary: #5e5e41;
  --secondary_low_opacity: rgba(94, 94, 65, 0.4);
  --black: #353535;
  --white: #ffffff;
  --borderRadius: 18px;
}

#container {
  max-width: 1280px;
  min-width: 270px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 122px;
}

#logo {
  height: 86px;
  margin-top: 82px;
  margin-bottom: -72px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#icon {
  height: 20pt;
  margin-left: 6pt;
  border-radius: 0;
}

#OpeningHours {
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

#OpeningHours p {
  white-space: nowrap;
}

.intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactAndOpeningHours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  text-align: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.logoAndText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.workContainer {
  display: flex;
  justify-content: space-between;
  gap: 78px;
  width: 100%;
  align-items: center;
}

.workContainer:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 88px;
}

#workContainerLogo {
  height: 130px;
  max-width: 92px;
}

#map {
  height: 364px;
  width: 50%;
}

iframe {
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

#bg {
  position: relative;
}

#bg img {
  overflow: hidden;
  position: absolute;
  right: -50vw;
  height: 100vh;
  opacity: 0.03;
  z-index: -10;
}

.icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15pt;
}

.icon img {
  width: 32pt;
  margin-right: 10pt;
  border-radius: 0;
}

.social {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30pt;
}

h1 {
  font-size: 28pt;
  margin: 0 0 20pt 0;
}

.products {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product {
  width: 344px;
}

#footer {
  gap: 48px;
}

.splitScreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
}

#OpeningHoursFooter {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  align-items: center;
  flex-direction: column;
}

#OpeningHoursFooter p {
  margin: 0;
}

.workContainerImage {
  max-height: 442px;
  max-width: 522px;
  min-width: 284px;
  width: 100%;
  object-fit: cover;
}

.openingHour {
  grid-area: openingHours;
  width: 100%;
}

.intro {
  grid-area: intro;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'openingHours openingHours openingHours openingHours openingHours'
    'intro intro slideshow slideshow slideshow';
  gap: 42px 0;

  justify-items: stretch;
  align-items: stretch;
  max-width: 100%;
}

.splide {
  margin-left: 42px;
  grid-area: slideshow;
}

.splide__track {
  border-radius: var(--borderRadius);
}

.splide__list {
  width: 50vw;
  max-width: 712px;
  min-width: 400px;
}

.splide__slide img {
  height: auto;
  width: 100%;
}

.splide__arrow {
  transition: 0.2s;
}

.hidden {
  display: none;
}
