/* Phone */ 
@media only screen and (max-width: 630px) {
    .splitScreen {
      flex-direction: column;
    }

    #map {
        max-width: 100vw;
        margin: 20pt 0 10pt 0;
    }

    #team {
        max-width: 100vw;
        width: 100vw;
    }

    #bottom {
        flex-direction: column-reverse;
    }

    .block {
        width: 100vw;
    }

    .block h1 {
        margin-top: 10pt;
    }

    .button {
        margin: 20pt;
    }

    .page {
        width: 100vw;
    }

    #page3 #imageContainer div {
        width: 100vw;
    }

    #page3 #dots {
        width: 100vw;
    }
}