:root {
  --primary: #ADAD96;
  --secondary: #5E5E41;
  --black: #353535;
  --white: #ffffff;

  --borderRadius: 18px;
}

#container {
  max-width: 1240px;
  min-width: 270px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  gap: 122px;
}

#logo {
  height: 86px;
  margin: 30px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.line {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  margin-bottom: 48px;
}

#icon {
  height: 20pt;
  margin-left: 6pt;
}

#OpeningHours {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-shrink: 0;
}

#OpeningHours p {
  white-space: nowrap;
  margin: 12px;
}

.intro {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.contactAndOpeningHours {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  text-align: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.logoAndText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 644px;
}

.workContainer {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  width: 100%;
  align-items: flex-end;
}

.workContainer img {
  border-radius: var(--borderRadius);
  /* width: 100%; */
  max-width: 444px;
  min-width: 284px;
}

#skincareLogo {
  height: 180px;
  min-width: fit-content;
}

#map {
  height: 364px;
  width: 50%;
}

iframe {
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

#bg {
  position: relative;
}

#bg img {
  overflow: hidden;
  position: absolute;
  right: -50vw;
  height: 100vh;
  opacity: .03;
  z-index: -10;
}

.button a {
  font-size: 14pt;
}

.icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15pt;
}

.icon img {
  width: 32pt;
  margin-right: 10pt;
}

.social {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30pt;
}

h1 {
  font-size: 32pt;
  margin: 0 0 10pt 0;
}

.products {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product {
  width: 344px;
}

.top {
  display: flex;
  flex-direction: column;
  margin-top: -50px;
}

#footer {
  gap: 122px;
}

.splitScreen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
  /* height: 442px; */
}

#OpeningHoursFooter {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  align-items: center;
  flex-direction: column;
}

#OpeningHoursFooter p {
  margin: 0;
}

.slideshow {
  height: 490px;
  min-height: 0;
  width: 50vw;
  max-width: 782px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  align-items: flex-start;
  position: relative;
  border-radius: var(--borderRadius);
}

.slideshow #imageContainer {
  transition: 512ms;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}

.slideshow #imageContainer div {
  width: 50vw;
  height: 100%;
  background-size: cover;
  background-position: center;
}

#imageContainer div:nth-of-type(1) {
  background-image: url(../img/slideshow/slideshow1.jpeg);
}

#imageContainer div:nth-of-type(2) {
  background-image: url(../img/slideshow/slideshow2.jpeg);
}

#imageContainer div:nth-of-type(3) {
  background-image: url(../img/slideshow/slideshow3.jpeg);
}

#imageContainer div:nth-of-type(4) {
  background-image: url(../img/slideshow/slideshow4.jpeg);
}

#imageContainer div:nth-of-type(5) {
  background-image: url(../img/slideshow/slideshow5.jpeg);
}

#imageContainer div:nth-of-type(6) {
  background-image: url(../img/slideshow/slideshow6.jpeg);
}

.slideshow #dots {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slideshow #dots a {
  width: 8pt;
  height: 8pt;
  border: 1pt solid var(--white);
  margin: 6pt;
  border-radius: 50%;
}

.slideshow #dots a:hover,
.slideshow #dots a.active {
  background-color: var(--white);
}