:root {
  --primary: #ADAD96;
  --secondary: #5E5E41;
  --black: #353535;
  --white: #ffffff;
}

#container {
  width: 1440px;
}

#logo {
  height: 56pt;
  margin-top: 30pt;
}

.line {
  border: 1px solid var(--secondary);
  border-radius: 5px;
}

#icon {
  height: 20pt;
  margin-left: 6pt;
}

#OpeningHours {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin: 12px 0;
}

#OpeningHours p {
  white-space: nowrap;
}

.textContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.splitScreen {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 1440px;
}

.block {
  width: 50vw;
}

#map {
  height: 450px;
  max-width: 50vw;
}

#bg {
  position: relative;
}

#bg img {
  overflow: hidden;
  position: absolute;
  right: -50vw;
  height: 100vh;
  opacity: .03;
  z-index: -10;
}

.button a {
  font-size: 14pt;
}

.icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15pt;
}

.icon img {
  width: 32pt;
  margin-right: 10pt;
}

.social {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30pt;
}

h1 {
  font-size: 32pt;
  margin: 0 0 10pt 0;
}

.slideshow {
  padding: 50px 0;
  height: 450px;
  min-height: 0;
  width: 50vw;
  max-width: 720px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  align-items: flex-start;
  position: relative;
}

.slideshow #imageContainer {
  transition: 512ms;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.slideshow #imageContainer div {
  width: 50vw;
  max-width: 720px;
  height: 450px;
  background-size: cover;
  background-position: center;
}

#imageContainer div:nth-of-type(1) {
  background-image: url(../img/slideshow/slideshow1.jpeg);
}

#imageContainer div:nth-of-type(2) {
  background-image: url(../img/slideshow/slideshow2.jpeg);
}

#imageContainer div:nth-of-type(3) {
  background-image: url(../img/slideshow/slideshow3.jpeg);
}

#imageContainer div:nth-of-type(4) {
  background-image: url(../img/slideshow/slideshow4.jpeg);
}

#imageContainer div:nth-of-type(5) {
  background-image: url(../img/slideshow/slideshow5.jpeg);
}

#imageContainer div:nth-of-type(6) {
  background-image: url(../img/slideshow/slideshow6.jpeg);
}

.slideshow #dots {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slideshow #dots a {
  width: 8pt;
  height: 8pt;
  border: 1pt solid var(--white);
  margin: 6pt;
  border-radius: 50%;
}

.slideshow #dots a:hover,
.slideshow #dots a.active {
  background-color: var(--white);
}